#home-portfolio {
	.header-text {
		text-align: center;

		h1 {
			@include heading-font;
			padding-bottom: 0;
		}

		p {
			padding-bottom: 10px;
		}
	}
}

/*============ Collage ============*/
.Collage img{
    //opacity:0;
    box-shadow:0px 3px 4px #dcdcdc;
    border-radius: 6px;
    /* 
    * Change this to try different borders
    */
    border:6px solid #FFF;
}
 .Collage{
    /* 
     * Change this to set the spacing of the images in the grid
     */
    padding:10px;
  }