/*--- header-section ---*/
#header-section {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 22222;

  .nav {
    padding-top: 30px;
    float: right;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;

      .fa-facebook {
        padding: 7px 10px !important;
      }

      .fa {
        padding: 7px;
        background-color: #fff;
        border-radius: 50%;

        &:hover {
          color: #fff;
          background: linear-gradient(to right,#7a8cef,#b558e0);
        }
      }
    }
    .nav-link {
      font-family: 'Open Sans', sans-serif;
      color: #fff;
      font-weight: 700;
      padding: 10px 25px;
      text-transform: uppercase;

      &:hover {
          background-color: #b558e0;
          border-radius: 32px;
          color: #fff;
          text-decoration: none;
        }
    }
  }
}

.parallax_bg {
  background-image: url("../img/topbg.jpg");
  background-attachment: fixed;
  background-position: center center; 
  background-size: cover;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh !important; 
}

/*--- slider section ---*/
#top-section {
  height: auto;
  position: relative;

  .header-text {
    text-align: center;
    padding-top: 30%;

    h1 {
      @include heading-font;
      font-family: 'Black Ops One', cursive;
      position: relative;
      color: #fff;
      white-space: pre-line;
      border-bottom: 0; 
      opacity: .5;

      &:before {
        content: "Sunjir Haque";
        height: 52%; 
        position: absolute;
        color: pink;
        overflow: hidden;   
      }
    }
  }
}

.overlay:before {
  background-color: blue;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  transition: 3s;
}
.overlay:hover:before {
  background-color: #002366;
  //opacity: .5;
  transition: 3s;
}


/*============ Media Query ==============*/

@media screen and (min-width:315px) and (max-width:480px) {

  .navbar-brand img {
    width: 170px;
  }

  #top-section {
    height: 100%;

    .header-text {
      padding-top: 30%;
    }

  }


}



@media screen and (min-width:481px) and (max-width:640px) {

  #top-section {
    height: 100%;

    .header-text {
      padding-top: 50%;
    }
  }

}

@media screen and (min-width:768px) and (max-width:1024px) {

  #top-section {
    height: 100%;
    padding-top: 10%;
  }

  #header-section .nav {
    float: none;
  }

}

@media screen and (max-width: 1280px) , screen and (max-height: 800px) {

  #top-section {
    height: 100%;
  }
  
}

// Collapse navbar-item fix
// @see: https://github.com/twbs/bootstrap/issues/17250
// --------------------------------
.navbar-toggleable-xs {
  @media (max-width: 543px) {
    clear: both;
    
    .navbar-nav {
      float: none !important;
    } 
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }
    .navbar-nav .nav-item {
      float: none;
    }
  }
}
.navbar-toggleable-sm {
  @media (max-width: 767px) {
    clear: both;
    
    .navbar-nav {
      float: none !important;
    }    
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }
    .navbar-nav .nav-item {
      float: none;
    }
  }
}
/* .navbar-toggleable-md {
  @media (max-width: 991px) {
    clear: both;

    .navbar-nav {
      float: none !important;
    }    
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }
    .navbar-nav .nav-item {
      float: none;
    }
  }
} */
